<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <div>
      <p>
        <strong>Name:</strong>
        <%= restaurant.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= restaurant.address %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= restaurant.phone_number %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= restaurant.category %>
      </p>

    </div>
    <%= link_to "Show this restaurant", restaurant_path(restaurant) %>
  <% end %>
</div>
 <%= link_to "New restaurant", restaurant_new_path %>
